@import "../../scss-partials/main.scss";

//Code to modify logo details
/*.goo1 {
  color: $logo-blue;
}

.goo2 {
  color: $logo-yellow;
  position: relative;
  top: -45px;
  left: 70px;
}

.tran {
  color: $logo-red;
  position: relative;
  top: -75px;
  left: 20px;
}

.logo {
  position: relative;
}

img {
  position: relative;
  width: 10%;
  top: -180px;
  left: 125px;
  transform: scalex(-1);
}

.icon {
  position: absolute;
}

.logo-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
*/

img {
  max-width: 30%;
}

img:hover {
  cursor: pointer;
}

div {
  @include bubble-font();
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
