@import "../../scss-partials/main.scss";

.goo1 {
  color: $logo-blue;
}

.goo2 {
  color: $logo-yellow;
}

.tran {
  color: $logo-red;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

div {
  @include bubble-font();
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
