<div style="text-align: center">
  <h1>Record Yo Babay!</h1>
  <video class="video" #video autoplay playsinline controls></video>
  <span class="m-1"></span>
  <video
    class="video"
    style="width: 360 !important"
    controls
    #recordedVideo
  ></video>
  <br />

  @if(!isRecording) {
  <button class="btn btn-primary btn-lg" (click)="startRecording()">
    Start Recording
  </button>
  } @else {
  <button class="btn btn-warning btn-lg" (click)="stopRecording()">
    Stop Recording
  </button>

  }
</div>
