<div class="app-header">
  <app-logo></app-logo>

  <div class="dropdown">
    <div class="cog-icon" (click)="toggleDropdown($event)">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </div>

    @if (showingDropdown && speechService.voices[0]) {
    <div class="dropdown-content">
      <h3 class="dropdown-section">Voices</h3>
      <div class="voice-wrapper" *ngFor="let voice of speechService.voices">
        <p class="voice" (click)="chooseVoice(voice.name)">
          {{ voice.name }}
        </p>

        @if( speechService.selectedVoice && speechService.selectedVoice ==
        voice.name ) {
        <div>
          <i class="fa fa-solid fa-check"></i>
        </div>
        }

        <div class="test-voice-icon" (click)="testVoice(voice.name)">👂</div>
      </div>
    </div>
    }
  </div>
</div>
<div class="page-content-wrapper">
  <router-outlet />
</div>
