@import "./scss-partials/main.scss";

.page-content-wrapper {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cog-icon {
  color: $logo-blue;
  font-size: 2em;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 4px;
  overflow-y: scroll;
  max-height: 500px;
}

.voice-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.voice {
  cursor: pointer;
}

.fa-check {
  color: $logo-green;
}

.test-voice-icon {
  cursor: pointer;
  margin-left: auto;
}
