<div class="translation-page">
  <div class="video-container">
    <video
      class="video"
      style="width: 360 !important"
      #recordedVideo
      playsinline
      autoplay
      loop
    ></video>

    <!-- This canvas is used while creating the downloadable video -->
    <canvas #canvas style="display: none"></canvas>
  </div>

  @if(translation) {

  <div class="translation-container">
    <div class="translation-text">
      <div class="translator-header">
        <h5 class="translation-note">Translation</h5>
        @if(!isEditing) {
        <i class="fa fa-pencil" (click)="editPhrase()"></i>
        }
      </div>
      @if(isEditing) {
      <input type="text" [(ngModel)]="translation.phrase" class="large-input" />

      <button (click)="isEditing = false">
        Finish <i class="fa fa-solid fa-check"></i>
      </button>

      } @else {
      <p>{{ translation.phrase }}</p>

      <button
        class="generate-new-"
        (click)="generateNewTranslation(); isEditing = false"
      >
        <i class="fa fa-undo"></i>
      </button>
      }
    </div>

    <div class="buttons-wrapper">
      <div class="translation-button">
        <button (click)="sayTranslation(translation)">Repeat</button>
      </div>
      <div class="translation-button">
        <button (click)="newRecording()"><i class="fa fa-trash"></i></button>
      </div>

      <div class="translation-button">
        <button class="btn btn-success btn-lg" (click)="downloadVideo()">
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>
  </div>

  }
</div>
