@import "../../scss-partials/main.scss";

.translation-page {
  padding: 1.2em 0.8em 1.2em 0.8em;
  background-color: black;
  border-radius: 0.6rem;
}

.video-container {
  text-align: center;
}

.translation-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.translation-note {
  color: gray;
  margin-top: 0px;
  text-decoration: underline;
}

.translation-text {
  text-align: center;
  background-color: white;
  border: 0.3rem solid white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  @include translation-font();
}

.translation-button {
  margin: 0.5rem;
}
