/* You can add global styles to this file, and also import other style files */
@import "../src/app/scss-partials/main.scss";

body {
  background-color: rgb(96, 151, 169);
  align-content: center;
}

.header {
  display: inline-flex;
}

button {
  background-color: white;
  border-radius: 0.3rem;
  border: 0.3rem solid white;
  padding: 0.7rem;
  @include base-font();
}
button:hover {
  cursor: pointer;
}

button:active {
  background-color: rgba(255, 255, 255, 0.229);
  text-decoration: none;
  color: white;
}
